<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Парсер сайтов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<h3> Список уникальных слов </h3>
<a href="/parser" class="form-horizontal" role="button">Назад</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Cлово</th>
        <th>Количество повторений</th>
        <th>Url адрес</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dictionary : ${dictionaries}">
        <td th:text="${dictionary.word}"/>
        <td th:text="${dictionary.value}"/>
        <td th:text="${dictionary.urlSite}"/>
    </tr>
    </tbody>
</table>

<a href="/parser" class="form-horizontal" role="button">Назад</a>

</body>
</html>