<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Парсер сайтов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<h3> Введите URL адрес </h3>
<form method="post" action="/parsing" class="form-horizontal">

    <div style="margin-bottom: 25px" class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="urlSite" placeholder="https://" required class="form-control"/>
    </div>

    <div style="margin-top: 10px" class="form-group">
        <div class="col-sm-6 controls">
            <button type="submit" value="add url for parsing" class="btn btn-primary">Разобрать</button>
        </div>
    </div>
</form>

<form method="get" action="/dictionary" class="form-horizontal">
    <div style="margin-top: 10px" class="form-group">
        <div class="col-sm-6 controls">
            <button type="submit" value="deleteAll" class="btn btn-primary">Все уникальные слова</button>
        </div>
    </div>
</form>

<form method="post" action="/deleteAll" class="form-horizontal">
    <div style="margin-top: 10px" class="form-group">
        <div class="col-sm-6 controls">
            <button type="submit" value="deleteAll" class="btn btn-primary">Удалить все</button>
        </div>
    </div>
</form>

<h3> Статистика </h3>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Дата Запроса</th>
        <th>Время запроса</th>
        <th>Url адрес запроса</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="statistic: ${listStatistics}">
        <td th:text="${statistic.localDate}"/>
        <td th:text="${statistic.time}"/>
        <td th:text="${statistic.urlSite}"/>
        <td>
            <form method="post" th:action="@{'/statistic/' + ${statistic.id} + '/delete'}" class="form-horizontal">
                <div style="margin-top: 10px" class="form-group">
                    <div class="col-sm-6 controls">
                        <button type="submit" value="delete" class="btn btn-primary">Удалить</button>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>